<!-- Sticky Search Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-2 shadow-sm sticky-top" style="z-index: 1020;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchNavbar" aria-controls="searchNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> <%= __('searchBar.collapseLabel') %>
    </button>

    <div class="collapse navbar-collapse" id="searchNavbar">
      <form action="/facilities" method="GET" class="d-flex flex-wrap align-items-center w-100 gap-3 my-2" novalidate>
        
        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 w-25">
          <label for="name" class="form-label small-label me-2 mb-0"><%= __('searchBar.facilityName') %></label>
          <input type="text" name="name" id="name" class="form-control form-control-sm flex-grow-1" placeholder="<%= __('searchBar.facilityNamePlaceholder') %>">
        </div>

        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2">
          <label for="loc" class="form-label small-label me-2 mb-0"><%= __('searchBar.facilityLocation') %></label>
          <select name="loc" id="loc" class="form-select form-select-sm">
            <option value=""><%= __('searchBar.none') %></option>
            <% regions.forEach((region) => { %>
              <option value="r#<%= region.id %>"><%= region.name %> <%= __('searchBar.region') %></option>
            <% }) %>
            <% districts.forEach((district) => { %>
              <option value="d#<%= district.id %>"><%= district.name %> <%= __('searchBar.district') %></option>
            <% }) %>
            <% wards.forEach((ward) => { %>
              <option value="w#<%= ward.id %>"><%= ward.name %> <%= __('searchBar.ward') %></option>
            <% }) %>
            <% municipalities.forEach((municipality) => { %>
              <option value="m#<%= municipality.id %>"><%= municipality.name %> <%= __('searchBar.municipality') %></option>
            <% }) %>
          </select>
        </div>

        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2">
          <label for="category" class="form-label small-label me-2 mb-0"><%= __('searchBar.category') %></label>
          <select name="category" id="category" class="form-select form-select-sm">
            <% categories.forEach(cat => { %>
              <option value="<%= cat.id %>"><%= cat.name %></option>
            <% }); %>
          </select>
        </div>

        <div class="mb-2">
          <button type="submit" class="btn btn-primary btn-sm">
            <%= __('searchBar.btnSearch') %>
          </button>
        </div>

      </form>
    </div>
  </div>
</nav>